<div class="tabcontrol">
  <mat-tab-group [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Consulta">
      <!-- Conteúdo da aba de consulta -->
    </mat-tab>
    <mat-tab label="Novo Pedido">
      <!-- Conteúdo da aba de cadastro -->
      <div class="cadastro">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Nome do Cliente</mat-label>
            <mat-select [(ngModel)]="clienteSelecionado" (selectionChange)="selecionarCliente($event.value)">
              <mat-option *ngFor="let c of clientes" [value]="c">
                {{ c.nomeCliente }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="clienteSelecionado">
            <mat-form-field appearance="outline">
              <mat-label>Cliente ID</mat-label>
              <input matInput [(ngModel)]="clienteSelecionado.clienteId" placeholder="Cliente ID" disabled>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Nome do Produto</mat-label>
            <mat-select [(ngModel)]="produtoSelecionado" (selectionChange)="selecionarProduto($event.value)">
              <mat-option *ngFor="let p of produtosDisponiveis" [value]="p">
                {{ p.nomeProduto }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="produtoSelecionado">
            <mat-form-field appearance="outline">
              <mat-label>Quantidade do Produto</mat-label>
              <input matInput type="number" [(ngModel)]="produtoSelecionado.quantidade" placeholder="Digite a quantidade do produto">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Valor de Venda</mat-label>
              <input matInput [(ngModel)]="produtoSelecionado.valorDeVenda" placeholder="Valor de venda" disabled>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Product ID</mat-label>
              <input matInput [(ngModel)]="produtoSelecionado.productId" placeholder="Product ID" disabled>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" (click)="adicionarProduto()">Adicionar Produto</button>
        </div>

        <!-- Botões para cancelar e salvar -->
        <div class="action-buttons">
          <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
          <button mat-raised-button color="primary" (click)="salvarVenda()">Salvar</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
