/* src/app/components/frm-fornecedores-cadastro/frm-fornecedores-cadastro.component.css */
.tabcontrol {
  margin: 2rem;
}

.cadastro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group,
.form-group-inline {
  margin-bottom: 1rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 16px;

}

.data-grid {
  margin-top: 2rem;
}

.mat-option-text {
  color: black; /* ou a cor desejada para o texto das opções */
}

.mat-select-value-text {
  color: black; /* ou a cor desejada para o texto selecionado */
}

.cliente-info,
.produto-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

}
