/* src/app/components/frm-fornecedores-consulta/frm-fornecedores-consulta.component.css */
.tabcontrol {
  margin: 2rem;
}

.consulta {
  padding: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.mat-form-field {
  flex: 1;
}

.data-grid {
  margin-top: 2rem;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

td:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
  cursor: pointer; /* Cursor de mãozinha */
}
.selecionado {
  background-color: #f0f0f0; /* Cor de fundo quando selecionado */
}
