/* src/app/components/frm-produtos-cadastro/frm-produtos-cadastro.component.css */
.tabcontrol {
  margin: 2rem;
}

.cadastro {
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
