<div class="tabcontrol">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Consulta">
      <div class="consulta">
        <div class="search-bar">
          <mat-form-field appearance="outline">
            <mat-label>Digite o número do Pedido</mat-label>
            <input matInput type="text" [(ngModel)]="filtroNome" placeholder="Digite o número do pedido">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="aplicarFiltro()">Pesquisar</button>
          <button mat-raised-button color="warn" (click)="limparFiltro()">Limpar</button>
        </div>

        <div class="data-grid">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>
                <span *ngIf="column === 'vendas_Id'">ID da Venda</span>
                <span *ngIf="column === 'nf'">NF</span>
                <span *ngIf="column === 'clienteId'">ID do Cliente</span>
                <span *ngIf="column === 'valorDeVenda'">Valor de Venda</span>
                <span *ngIf="column === 'produtos_Nome'">Nome do Produto</span>
                <span *ngIf="column === 'produtos_Id'">ID do Produto</span>
                <span *ngIf="column === 'numero_Pedido'">Número do Pedido</span>
              </th>
              <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selecionarRegistro(row)" [class.selecionado]="row === vendasSelecionada">
            </tr>
          </table>
        </div>

        <div class="action-buttons">
          <button mat-raised-button color="warn" (click)="excluirVendaSelecionada()">Excluir</button>
          <!-- <button mat-raised-button color="accent" (click)="navigateToCadastro(0)">Novo</button> -->
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Novo Pedido">
      <!-- Conteúdo da aba de cadastro -->
    </mat-tab>
  </mat-tab-group>
</div>
